* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #d8eefe, #f6fcff);
    color: #333;
    min-height: 100vh;
    overflow-x: hidden;
}
